@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: #fff;
}

.tb-ant-export-style {
  position: absolute;
  top: 0px;
  margin-left: 245px;
}

.ant-drawer-mask {
  opacity: 0.1 !important;
}

.anticon svg {
  display: block;
}

#test-table-xls-button {
  position: absolute;
  bottom: 0px;
  width: max-content;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  background-color: orange;
  border: darkorange;
  color: #fff;
}
